* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vw;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.logo {
    background-color: orange;
    width: 5vw;
    height: 5vw;
    padding: 1vw; 
}
nav {
    background-color: red;
    height: 5vw;
    padding: 1vw;
}
.obst {
    background-color: #ccc;
    padding: 1vw;  
}
.drinks {
    background-color: #888;
    padding: 1vw;  
}
.kirschen h1,.kirschen p {
    color: #000;
}

a {
    background-color: white;
}
footer {
    background-color: orange;
    height: 10vw;
    padding: 1vw;
}