/***************** General Rules *****************/



* { /**** effects all objects and childs */
    box-sizing: border-box; /* this stops adding the padding to an object */
}

body {
    margin: 5vw; /**** distance outside the body ****/
    font-family: 'Noto Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    line-height: 40%;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
} /**** combining different DOM objects */


/***************** EO General Rules *****************/

.box {
    width: 15vw;
    height: 15vw;
    background-color:black;
    border-radius:1vw;
    padding:2vw;
    box-shadow: 0 10px 20px 0 #949494;
    
}
.box>h1 { /* only direct childs of class box **/
    color: red;
}







/******************** Hallo **********************/


.redwine {
    background-color: red;
}

.whitewine {
    background-color: gray;
}

.whitewine article h3 {
    color: blue;
}

.whitewine h3 {
    color: orange;
}


